#heading {
	padding-left: 25px;

}

#bottom {
	height: 100px;
	width: 1300px;
	position: absolute;
	margin-top: 300px;
}

#right {
	height: 100px;
	width: 900px;
	float: left;
	margin-top: 252px;
	position: absolute;
}

#jumbo-border {
	text-align: center;
	width: 300px;
	float: right;
}

#backgroundGif {
	width:1300px; 
	height: 600px;
	background-image: url('images/Prufa3.gif');
	background-repeat: no-repeat;
	 background-size: 1150px 600px;
	background-position: center; 
	position: absolute;
}


body {
	/*background-color:  #337fcc;*/
	background-color: #0e0e0e;

	color: white;
	font-style: bold;
	font-family: "Arial";
	margin-top: 0px;
	overflow: hidden;
}
#nextLevel {
	font-size: 11px;
}
/*#inner_fixed {
    height: 100px;
    width: 300px;
    background-color: grey;
}*/



h1 {
	text-align: center;
	color: white;
}
h2 {
	color: white;
		padding-left: 20px;


}
 img {
	height: 375px;
	padding-bottom: 5px;
}
#swipeImage {
	margin-left: -100px;
	height: 325px;
	padding-top: 70px;

}
#master {
	height: 600px;
	width: 1300px;
	position: absolute;
	margin-left: 20px;
	overflow: visible;
}
#description {
	padding-left: 30px;
	font-weight: bold; 
	font-size: 34px;
}
.handGesture {
	z-index: 3;
	position: absolute;
	margin-left: -110px;
	padding-bottom: 20px;

}

#panel {
	background: -moz-linear-gradient(top, #ef0011, #640000);
	position: absolute;
	margin-left: -10%;
	top: 575px;
	height: 200px;
	width: 120%;
	border-color: #5b0000;
	border-width: 3px;
	border-style: solid;
}

#swipeText {
	font-family: "Arial";
	font-weight: bold;
	position: absolute;
	/*font-size: 40pt;*/
	font-size: 35px;
	padding-left: 920px;
	/*padding-top: 220px;*/
	
	/*padding-top: 700px;*/

	margin-top: 675px;
	z-index: 4;
}

#rock-gray {
	margin-left: 30px;
}

#rock-signImage {
	margin-left: 30px;
}

/*#hand-frame {
	display: block;
	position: absolute;
	z-index: 1;
	margin-top: -25px;
	margin-left: -25px;

	width: 325px;
	height: auto;
}*/
