#heading {
	padding-left: 25px;

}
#bottom {
	height: 200px;
	width: 1300px;
	position: absolute;
	margin-top: 400px;
}
#right {
	height: 100px;
	width: 800px;
	float: left;
	margin-top: 100px;
	position: relative;



}
#jumbo-border {
	text-align: center;
	background-color: lightblue;
	width: 300px;
	display: inline-block;
	float: right;


}

#backgroundGif {
	width:1300px; 
	height: 500px;
	background-image: url('images/Prufa3.gif');
	background-repeat: no-repeat;
	 background-size: 1300px 600px;
	background-position: center; 
	position: absolute;
}


body {
	background-color:  #337fcc;
	color: white;
	font-style: bold;
	font-family: "Arial";
}
#nextLevel {
	font-size: 11px;
}
/*#inner_fixed {
    height: 100px;
    width: 300px;
    background-color: grey;
}*/



h1 {
	text-align: center;
	color: white;
}
h2 {
	color: white;

}
 img {
	height: 300px;
	padding-bottom: 5px;
}
#swipeImage {
	height: 300px;

}
#master {
	height: 600px;
	width: 1300px;/*1300*/
	border: 2px solid black;
	/*position: absolute;*/

}

/*#left {
	float: left;
	margin-top: 30px;
	width: 140px;
	height: 500px;
	margin-left: 200px;

}*/
#buttons {

	/*bottom: 0;
	position: absolute;
	padding-bottom:*/ 

}

/*#right {


	margin-top: 29%;
	padding-left: 5px;
	display: inline-block;
	width: 75%;
	
	float: left;
}*/